<div class="container">
    <form method="post" action="/finance/createVideo">
        <div class="mb-3">
            <label for="name-video" class="form-label">Name</label>
            <input type="text" class="form-control" id="name-video" name="name" placeholder="name...">
        </div>
        <div class="mb-3">
            <label for="description-video" class="form-label">Description</label>
            <input type="text" class="form-control" id="description-video" name="description" placeholder="description...">
        </div>
        <div class="mb-3">
            <label for="author-video" class="form-label">Author</label>
            <input type="text" class="form-control" id="author-video" name="author" placeholder="author...">
        </div>
        <div class="mb-3">
            <label for="VideoID-video" class="form-label">VideoID</label>
            <input type="text" class="form-control" id="VideoID-video" name="videoID" placeholder="videoID...">
        </div>
        <div class="mb-3">
            <label for="level-video" class="form-label">Level</label>
            <input type="text" class="form-control" id="level-video" name="level" placeholder="level...">
        </div>
        <button type="submit">Create</button>
    </form>
</div>