

<div class="container">
    <form action="/search" method="post">
        <div class="mb-3">
            <label for="Keyword" class="form-label">Email address</label>
            <input type="text" name="keyword" class="form-control" id="Keyword" placeholder="search...">
        </div>
        <div class="mb-3">
            <label for="comment-box" class="form-label">Example textarea</label>
            <textarea class="form-control" id="comment-box" name="comments" rows="3"></textarea>
        </div>
        <select class="form-select" name="favorable-author">
            <option value="Robert">Robert</option>
            <option value="Donald">Donald</option>
            <option value="Warrent">Warrent</option>
            <option value="Elon">Elon Musk</option>
            <option value="Jack Ma">Jack Ma</option>
        </select>
    </form>
</div>